.selectedLetter {
    border-style: solid;
  }

  td {
    border-style: groove;
  }

  .GameBoard {
    display: flex;
    flex-direction: column;
  }

  .BoardAndWordList {
    display: flex;
    flex-direction: row;
  }

  li {
    list-style-type: none;
    display:inline-block
  }

  ul {
    overflow:hidden; overflow-y:scroll;
    width: 75px;
    padding-right: 10px;
  }

  .wordListContainer {
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    border-style: solid;
    border-width: 2px;
  }
  


